* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #FEFDFD;
}

p {
	line-height: 30px;
}

#time {
	margin: 0px;
	width: 100px;
	line-height: 40px;
}

.menu-time {
	flex-direction: row;
	justify-content: center;
	height: 40px;
	margin-bottom: 40px;
	display: none;
}

#btn {
	min-width: 110px;
	background-color: #FEFDFD;
	color: #2E2E4A;
	border: none;
	line-height: 20px;
	height: 30px;
	font-size: 16px;
	letter-spacing: 0.6px;
	font-weight: 700;
	transition: 0.3s;
	cursor: pointer;
	border: 2px solid #2E2E4A;
	transition: 0.3s;
}

#btn:focus {
	outline: 0;
}

#btn:hover {
	background-color: #2E2E4A;
	color: white;
}

nav {
	width: 100%;
	height: 55px;
	background-color: #2E2E4A;
	box-shadow: 1px 1px 10px #2E2E4A;
	display: flex;
	justify-content: space-between;
}

ul {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 900px;
	padding: 0px 150px;
}

li {
	line-height: 50px;
	width: 120px;
	list-style-type: none;
	text-align: center;
	transition: 0.3s;
}

li a {
	text-decoration: none;
	color: white;
	letter-spacing: 0.5px;

}
a{
	display: block;
	width: 100%;
	height: 100%;
}

li:hover {
	background-color: #5C5C72;
}

.menu {
	display: flex;
	justify-content: center;
	padding: 30px 0px 35px 0px;
	height: 90px;
}

.main {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 90px;
	align-items: center;
	min-height: 480px;
}

table,
tr,
td {
	border: 1px solid #2E2E4A;
	font-size: 30px;

}

table {
	width: 300px;
	height: 300px;
	/*size of table cell is allways the same proportion*/
	table-layout: fixed;
	/*table border without parralel lines*/
	border-collapse: collapse;
}

tr,
td {
	text-align: center;
}

select {
	border: none;
	border-bottom: 1px solid #2E2E4A;
	min-width: 150px;
	margin-right: 20px;
	background-color: #FEFDFD;
	cursor: pointer;
	color: #2E2E4A;
	font-size: 18px;
	height: 30px;
}

select:focus {
	outline: 0;
}

option {
	text-align: center;
}

.main-info {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.main-info--paragraph {
	max-width: 800px;
	margin: 0px 40px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 35px;
	background-color: #2E2E4A;
}

footer p {
	color: #FEFDFD;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
}


@media only screen and (max-width: 840px) {
	.menu{
		display: flex;
		align-content: center;
		justify-content: center;
		margin-bottom: 90px;
		height: 320px;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 0px 90px;
		padding-top: 20px;
		margin-bottom: 20px;
	}
	select{
		margin-right: 0px;
	}
	ul {
		flex-direction: column;	
		padding: 0px;
	}
	li{
		width: 100%;
	}
	nav {
		height: 100px;
	}
	#btn{
		min-width: 140px;
		margin-top: 20px;
	}
	table{
		margin: 0px 40px;
	}
}
