* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
}

p {
	line-height: 30px;
}

#time {
	margin: 0px;
}

.menu-time {
	display: flex;
	flex-direction: row;
	width: 100px;
}

#btn {
	margin-left: 40px;
	min-width: 110px;
	background-color: #f4ac66;
	color: white;
	border: none;
	line-height: 20px;
	height: 30px;
	font-size: 16px;
	border-radius: 10px;
	letter-spacing: 0.6px;
	font-weight: 700;
	transition: 0.3s;
	cursor: pointer;
	box-shadow: 1px 1px 10px gray;
}

#btn:focus {
	outline: 0;
}

nav {
	width: 100%;
	height: 55px;
	background-color: #f4ac66;
	box-shadow: 1px 1px 10px gray;
	padding: 0px 200px;
}

ul {
	display: flex;
	flex-direction: row;
	height: 100%;
	min-width: 240px;
}

li {
	line-height: 50px;
	width: 120px;
	list-style-type: none;
	text-align: center;
	transition: 0.3s;
}

li a {
	text-decoration: none;
	color: white;
	letter-spacing: 0.5px;
}

li:hover {
	background-color: darkorange;
}

.menu {
	display: flex;
	justify-content: center;
	padding: 30px 0px;
	margin-bottom: 60px;
	height: 90px;
}

.main {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 60px;
	align-items: center;
	min-height: 480px;
}

table,
tr,
td {
	border: 1px solid black;
	font-size: 30px;

}

table {
	width: 300px;
	height: 300px;
	/*size of table cell is allways the same proportion*/
	table-layout: fixed;
	/*table border without parralel lines*/
	border-collapse: collapse;
}

tr,
td {
	text-align: center;
}

select {
	border: none;
	border-bottom: 1px solid gray;
	width: 120px;
	margin-right: 20px;
}

select:focus {
	outline: 0;
}

option {
	text-align: center;
}
